html {
    font-size: 16px;
}

/* Bootstrap small breakpoint */

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
}

/* Bootstrap extra large breakpoint */

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.main-text {
    font-weight: normal;
    font-size: 150%;
}

#choices button {
    margin-bottom: 20px;
}

.no-hover.btn-outline-primary:hover {
    color: #007bff !important;
    background-color: inherit !important;
}

.force-scrollbar {
    overflow-y: scroll;
}